.history-container{
    margin-top: 4.3rem;
    display: flex;
}
.history-main-container{
    margin-left: 2%;
}

.history{
    width:100vw;
}
@media screen and (min-width:576px){
    .history-container{
        margin-top: 4.5rem;
        display: flex;
    }
    .history-main-container{
        margin-left: 16%;
    }
}
@media screen and (min-width:768px){
    .history-container{
        margin-top: 75px;
        display: flex;
    }
    .history-main-container{
        margin-left: 18%;
    }
}
@media screen and (min-width:992px){
    .history-container{
        margin-top: 75px;
        display: flex;
    }
    .history-main-container{
        margin-left: 15%;
    }
}
@media screen and (min-width:1200px){
    .history-container{
        margin-top: 90px;
        display: flex;
    }
    .history-main-container{
        margin-left: 14%;
    }
}
